<h2 class="title-with-sub text-center">Productos</h2>

<!-- Indicador de carga -->
@if (productService.isLoading()) {
<h4 class="font-sans">Cargando</h4>
}

<!-- Mensaje de error -->
@if (productService.error()) {
<div class="error">
  {{ productService.error() }}
</div>
}

<!-- Lista de productos -->
@if (!productService.isLoading() && productService.products().length === 0) {
<div class="no-data">
  No hay productos disponibles.
</div>
}

<div class="row d-flex justify-content-center">
  @for (product of productService.products(); track $index) {

  <div class="col-12 col-md-6 col-lg-4 col-xl-3 my-3">
    <div class="card h-100">
      <img [src]="product.imageUrl" [alt]="product.name" class="card-img-top">
      <div class="card-body">
        <h6>{{ product.name }}</h6>
        <p class="card-text">{{ product.description }}</p>

        <p class="price"> <b class="fs-6">Precio: </b>
          @if (!authService.isAuthenticated()) {
          <a class="text-primary pointer" data-bs-toggle="modal" data-bs-target="#loginModal">Inicia sesión para ver</a>
          } @else {
          <span class="fs-5 text-success">
            {{ product.price | currency: 'S/ ' }}
          </span>
          }
        </p>

        <tbody>
          @for (detail of product.technicalDetails | keyvalue; track detail.key) {
          <tr>
            <th scope="row" class="table-light text-nowrap">{{ detail.key | titlecase }}</th>
            <td> <small class="ms-2">{{ detail.value }}</small> </td>
          </tr>
          }
        </tbody>

        <div class="d-grid gap-2 mt-3">
          <!-- Descarga directa -->
          @if (authService.isAuthenticated()) {
          <button class="btn btn-primary" type="button" (click)="donwnloadProductPDF(product._id!)">
            <i class="bi bi-download me-2"></i> Ficha técnica
          </button>
          }

          <!-- Descarga con correo -->
          @if (!authService.isAuthenticated()) {
          <button class="btn btn-primary" type="button" (click)="setProductId(product._id!)" data-bs-toggle="modal"
            data-bs-target="#descargarFichamodal">
            <i class="bi bi-download"></i> Ficha técnicaa
          </button>
          }
        </div>
      </div>
    </div>
  </div>
  }

  <!-- Modal ficha técnica -->
  <div class="modal fade" id="descargarFichamodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="descargarFichamodalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="descargarFichamodalLabel">Descarga de ficha técnica</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body mb-4">
          <p>Para poder descargar la ficha técnica de nuestros productos, tiene que ingresar su correo</p>

          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email">
            <label for="email">Correo electrónico</label>
          </div>

          <div class="d-grid gap-2 col-6 mx-auto mt-4">
            <button class="btn btn-success" type="button" data-bs-dismiss="modal" [disabled]="email.length < 5"
              (click)="storeMailClient()">
              <i class="bi bi-download me-2"></i> Descargar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
